node_modules/
logs/
.idea/
test.js
.elasticbeanstalk/
.DS_Store
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#CSV files
scripts/*/files/.*
scripts/*/output/.*
.eslintcache

#Secret Environment Variables
.env
.env.*
!.env.example

.vscode
files/*